body[data-theme="light"] {
  --colors-primary: #1d9bf0;
  --colors-primaryHover: #1a8cd8;
  --colors-background: white;
  --colors-textPrimary: black;
  --colors-textSecondary: #536471;
  --colors-primaryBtnText: white;
  --colors-primaryBtnBackground: var(--colors-primary);
  --colors-primarySignInBtnText: var(--colors-primary);
  --colors-primarySignInBtnBackground: transparent;
  --colors-primarySignInBtnBackgroundHover: rgba(29, 155, 240, 0.1);
  --colors-primarySignInBtnBorderColour: rgba(0, 0, 0, 0.2);
  --colors-secondarySignInBtnText: black;
  --colors-secondarySignInBtnBackground: transparent;
  --colors-secondarySignInBtnBackgroundHover: rgb(230, 230, 230);
  --colors-secondaryBtnText: white;
  --colors-secondaryBtnBackground: black;
  --colors-secondaryBtnBackgroundHover: rgb(39, 44, 48);
}

body[data-theme="dark"] {
  --colors-primary: #1d9bf0;
  --colors-primaryHover: #1a8cd8;
  --colors-background: black;
  --colors-textPrimary: white;
  --colors-textSecondary: #536471;
  --colors-primaryBtnText: white;
  --colors-primaryBtnBackground: var(--colors-primary);
  --colors-primarySignInBtnText: var(--colors-primary);
  --colors-primarySignInBtnBackground: transparent;
  --colors-primarySignInBtnBackgroundHover: rgba(29, 155, 240, 0.1);
  --colors-primarySignInBtnBorderColour: #536471;
  --colors-secondarySignInBtnText: black;
  --colors-secondarySignInBtnBackground: white;
  --colors-secondarySignInBtnBackgroundHover: rgb(230, 230, 230);
  --colors-secondaryBtnText: black;
  --colors-secondaryBtnBackground: white;
  --colors-secondaryBtnBackgroundHover: rgb(215, 219, 220);
}
